<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmer Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <img src="OIP.jpeg" alt="Downloading">
    <p>If you win this challenge, it means you are real farmer <br> if not, you are half farmer <br>In both case the farmer run into your blood </p>
    <p>Before start capturing the flags, are you farmer?</p>
    <button class="farmerButton" data-farmer="full">Yes, I'm a farmer</button>
    <button class="farmerButton" data-farmer="half">Hmm, I'm half farmer</button>
    <p id="farmerMessage"></p>
    <script src="script.js"></script>
</body>
<!-- Farmer{It WaS 3Asy, R1GHT?} -->
</html>