<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evil Here</title>
    <script src="tokenValidate.js">
        function checkToken() {
            const token = new URLSearchParams(window.location.search).get('token');
            if(!validation(token[0])) {
                document.getElementById('result').textContent = '403';
            }
        }
        window.onload = checkToken;
    </script>
</head>
<body>
    <h1><span id="result"><%= flag %></span></h1> 
</body>
</html>
