body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    padding: 20px;
}
img{
    width: 350px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

button.farmerButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button.farmerButton:hover {
    background-color: #45a049;
}

#farmerMessage {
    font-size: 1.5em;
    margin-top: 20px;
    color: #4CAF50;
}
